.box {
    display: flex;
    justify-content: flex-start;
    padding: var(--sm);
    border-radius: var(--xxsm);
    border: var(--border-2);
    /* min-width: 50vw; */
    width: max-content;
    margin-bottom: var(--sm);
}
