button {
    min-width: var(--button-width);
    min-height: var(--button-height);
    color: var(--fg);
    background-color: var(--bg-2);
    padding: var(--xxsm) var(--xsm);
    border-radius: var(--xxsm);
    transition: background-color var(--dt-sm);
}

button:hover {
    color: var(--bg-1);
    background-color: var(--fg-1);
    transition: background-color var(--dt-sm);
}
