/* misc */
.user-selectable {
    user-select: initial;
    -webkit-user-select: initial;
}


/* color */
.blue { color: var(--blue)}
.red { color: var(--red)}
.orange { color: var(--orange)}
.green { color: var(--green)}
.info { color: var(--blue)}
.error { color: var(--red)}
.warning { color: var(--orange)}
.ok { color: var(--green)}


/* text */
.text-centered {
    text-align: center;
}
.text-at-left {
    text-align: left;
}

/* sizes */
.half {
    width: 50%;
}
.w-100 {
    width: 100%;
}

/* padding */
.p-sm {
    padding: var(--sm);
}

/* flex */
.flex-center-all {
    justify-content: center;
    align-items: center;
}