button {
    min-width: 2vw;
    color: var(--blue);
    background-color: var(--bg-2);
    padding: var(--xxsm) var(--sm);
    transition: background-color 0.5s;
    /* background: var(--gradient-2); */
}

button:hover {
    background-color: var(--bg-3);
    transition: background-color 0.5s;
}
