button {
    min-width: 64px;
    min-height: 32px;
    color: var(--blue);
    background-color: var(--bg-2);
    padding: var(--xxsm) var(--sm);
    transition: background-color 0.5s;
}

button:hover {
    background-color: var(--bg-3);
    transition: background-color 0.5s;
}
