/* Schema builder */
.schema-builder {
    display: flex;
    flex-direction: column;
    width: var(--view-width);
    height: var(--view-height);
}

/* Schema List */
.schema-list-view {
    width: var(--view-width);
    height: var(--view-height);
    padding: var(--md);
}

.schema-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-top: var(--sm);
    border: var(--border-2);
    border-radius: var(--xsm);
}

.schema-list-item {
    display: flex;
    width: 100%;
    padding: var(--xsm) var(--md);
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid var(--bg-2);
}

.schema-list-item:hover {
    background: var(--gradient-1);
}

.scheme-view-link {
    color: var(--fg-1);
    transition: color var(--dt-sm);

}

.scheme-view-link:hover {
    color: var(--blue);
    transition: color var(--dt-sm);
}

/* Schema viewer */
.schema-viewer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--md);
    background: var(--bg-1);
    color: var(--fg-1);
    width: 100%;
    max-width: var(--view-width);
}

.schema-viewer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--xsm);
    border: var(--border-1);
    border-radius: var(--xxsm);
    margin-top: var(--lg);
}

.variable-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: 100%;
}

.variable {
    display: flex;
    justify-content: space-between;
    background: var(--gradient-1);
    padding: var(--sm);
    border-radius: var(--xxsm);
    width: 100%;
}

.variable:hover {
    background: var(--gradient-2);
}

.variable-name {
    color: var(--fg-1);

}

.variable-type {
    font-style: italic;
    color: var(--fg-3);

}

.schema-delimiters {
    display: flex;
    flex-direction: column;
    border-radius: var(--xxsm);
    width: 25vw;
}

.schema-delimiters p {
    width: 100%;
}

.schema-actions {
    display: flex;
    padding: var(--xsm);
    border-radius: var(--xxsm);
}