@import url('./styles/index.css');

* {
    font-family: 'CodeNewRomanNerdFontMono Regular';
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    user-select: none;
    -webkit-user-select: none;
}

html {
    color: var(--fg-1);
    background-color: var(--bg-1);
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--bg-1);
}

input {
    max-width: 30vw;
    margin: 0 var(--sm);
}

input[type="text"], textarea {
    color: var(--fg-1) !important;
    background-color: var(--bg-3) !important;
    margin: 0 var(--sm);
    border-radius: 0;
    border: none;
    outline: none;
}
input[type="select"], textarea {
    color: var(--fg-1) !important;
    background-color: var(--bg-3) !important;
    border-radius: 0;
    border: none;
    outline: none;
}

select {
    appearance: unset;
    color: var(--fg-1) !important;
    background-color: var(--bg-3) !important;
    border-radius: 0;
    border: none;
    outline: none;
}
option {
    appearance: unset;
    color: var(--fg-1) !important;
    background-color: var(--bg-3) !important;
}

hr {
    height: 2px;
    background: var(--gradient-4);
    border: none;
    margin: var(--xsm) 0;
}

button {
    min-width: var(--button-width);
    min-height: var(--button-height);
    color: var(--fg);
    background-color: var(--bg-2);
    padding: var(--xxsm) var(--xsm);
    border-radius: var(--xxsm);
    transition: background-color var(--dt-sm);
}

button:hover {
    color: var(--bg-1);
    background-color: var(--fg-1);
    transition: background-color var(--dt-sm);
}
